<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<head>
	<meta charset="utf-8"/>
	<title>Login</title>
	<meta name="description" content="Login" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link rel="stylesheet" th:href="@{/style/style.css}" type="text/css" />
</head>

	
<body>
	<div id="container">
		<div id="pasek">
			<div id= "nav">
				<div class="logo"><h1>Quizzes and answers</h1></div>
				<div class="menu"><a th:href ="@{/home}" class="startlink">Home</a></div>
				<div class="menu"><a th:href ="@{/addQuiz}" class="startlink">Add quiz</a></div>
				<div class="menu"><a th:href ="@{/registration}" class="startlink">Register</a></div>
				<div class="menu"><a th:href ="@{/login}" class="startlink">Log in</a></div>
				<div style="clear: both;"></div>
			</div>
		</div>
	
	
		<div class="wall">
			<div class="windowlog">
				<form name="f" th:action="@{/login}" method="post">
				</fieldset>
				<legend>Please Login</legend>
				<div th:if="${param.error}" class="alert alert-error">
					Invalid username or password
				</div>
				<div th:if="${param.logout}" class="alert alter-success">
					You have been logged out.
				</div>
				<label for="username">Username</label>
				<input type="text" id="username" name="username"/>
				<label for="password">Password</label>
				<input type="password" id="password" name="password"/>
				<div class="form-actions">
					<button type="submit" class="btn"> Log in</button>
				</div>
				</fieldset>
				</form>
            </div>
		</div>
		<div class="footer">
		The property of &copy; Igor & Maciek & Pavel
		</div>
	</div>
</body>

</html>

