<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/imports :: head"></th:block>
</head>
<body>
<th:block th:insert="fragments/components :: navBar"></th:block>
<div class="wall">
    <div class="center">
        <div class="window">
            <form method="post" th:action="@{/quiz/quizAttempt}">
                <select class="custom-select" id="selectCategory" name="category">
                    <option selected th:value="${cat}">Click to see categories...</option>
                    <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}">cat</option>
                </select>
                <button type="submit" class="btn-primary">Start quiz</button>
            </form>
        </div>
    </div>
</div>
<th:block th:insert="fragments/components :: footer"></th:block>
</body>

</html>

