<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta charset="utf-8"/>
    <title>Categories</title>
    <meta name="description" content="Categories"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="stylesheet" th:href="@{/style/style.css}" type="text/css"/>
</head>


<body>
<div id="container">
    <div id="pasek">
        <div id="nav">
            <div class="logo"><h1>Quizzes and answers</h1></div>
            <div class="menu"><a th:href="@{/home}" class="startlink">Home</a></div>
            <div class="menu"><a th:href="@{/addQuiz}" class="startlink">Add quiz</a></div>
            <div class="menu"><a th:href="@{/registration}" class="startlink">Register</a></div>
            <div class="menu"><a th:href="@{/login}" class="startlink">Log in</a></div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<div class="center">
    <form method="post" th:action="@{/quiz/quizAttempt}">
        <select class="custom-select" id="selectCategory" name="category">

            <option selected th:value="${cat}">Click to see categories...</option>
            <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}">cat</option>

        </select>
        <button type="submit" class="btn btn-primary">Start quiz</button>
    </form>
</div>
<div class="footer">
    The property of &copy; Matthias K
</div>
</body>

</html>

