<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta charset="UTF-8">
    <title>Hello New Quiz</title>
</head>
<body>
<p>New Quiz</p>
<form th:action="@{/home/newquiz}" method="post" th:object="${newQuiz}">
    <label>Name</label>
    <input th:type="text" th:field="*{title}" />
    <br />
    <label>Description</label>
    <input th:type="text" th:field="*{description}" />
    <br />
    <label>Price</label>
    <input th:type="text" th:field="*{question}" />
    <br />
    <label>Wrong Answer One</label>
    <input th:type="text" th:field="*{wrongAnswerOne}" />
    <br />
    <label>Wrong Answer Two</label>
    <input th:type="text" th:field="*{wrongAnswerTwo}" />
    <label>Wrong Answer Three</label>
    <br />
    <input th:type="text" th:field="*{wrongAnswerThree}" />
    <br />
    <label>Correct Answer</label>
    <input th:type="text" th:field="*{correctAnswer}" />
    <br />
    <button th:type="submit">Add Product</button>
</form>
</body>
</html>